<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>About Page </title>
	<!-- Bootstrap core CSS -->
	<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<!--<link href="css/all.css" rel="stylesheet">-->
		<link href="{{ url_for('static',filename='css/all.css')}}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<!--<link href="css/style.css" rel="stylesheet">-->
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
<style>
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
</style>
</head>

<body>
	<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
            <img src="static/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="index">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="upload">Upload</a>
                  </li>
                  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio">See Prices 
     
    </a>


<div class="dropdown-content">
                  <!--   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">-->
                        <a class="dropdown-item" href="apple">Apple</a>
                        <a class="dropdown-item" href="orange">Orange</a>
                        <a class="dropdown-item" href="papaya">Papaya</a>
                        <a class="dropdown-item" href="pineapple">Pineapple</a>
                        <a class="dropdown-item" href="jackfruit">Jackfruit</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">About
				
			</h1>
		</div>
	</div>
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index">Home</a>
				</li>
				<li class="breadcrumb-item active">About</li>
			</ol>
		</div>
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="static/aboutt.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About</h2>
					<h5><ul>
<li>In agriculture sector the problem of identification and counting the number of fruits on trees plays an important role in crop estimation work. At present manual counting of fruits and vegetables is carried out at many places. Manual counting has many drawbacks as it is time consuming and requires plenty of labors.</li>
<li>The automated fruit counting approach can help crop management system by providing valuable information for forecasting yields or by planning harvesting schedule to attain more productivity.This work presents an automated and efficient fruit counting system using computer vision techniques.</li>
<li>The proposed system uses Faster Regional-Convolutional Neural Network based segmentation technique for segmenting the fruit region from the input image. Further circle overlaying is done on the fruit region and the last fruits are counted on the basis of the centroid of the fruit regions. This proposed system is correctly detecting and counting the following fruits such as apple, orange, papaya, pineapple and jackfruit on the test images.</li>
<li>Estimation of fruit count from images is a challenging task for a number of reasons including appearance due to illumination, and occlusion due to surrounding fruits. Previous fruit counting algorithms relied on traditional computer vision methods involving hand-crafted features that exploited the shape, color of various fruit.</li>
</ul></h5>
				</div>
			</div>
			<!-- /.row -->
		</div>

		
		

    <!--footer starts from here-->
    <footer class="footer">
					
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="static/logo.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
           
            </p>
            <ul class="social_footer_ul">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
