<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Apple Price List </title>
	<!-- Bootstrap core CSS -->
	<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<!--<link href="css/all.css" rel="stylesheet">-->
		<link href="{{ url_for('static',filename='css/all.css')}}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<!--<link href="css/style.css" rel="stylesheet">-->
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;

</style>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index">
            <img src="static/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="index">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="upload">Upload</a>
                  </li>
                 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio">See Prices 
     
    </a>


<div class="dropdown-content">
                  <!--   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">-->
                        <a class="dropdown-item" href="apple">Apple</a>
                        <a class="dropdown-item" href="orange">Orange</a>
                        <a class="dropdown-item" href="papaya">Papaya</a>
                        <a class="dropdown-item" href="pineapple">Pineapple</a>
                        <a class="dropdown-item" href="jackfruit">Jackfruit</a>
                     </div>
                  </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="background-image: url('static/ap1.jpg');
  /* Full height */
  height: 100%; 
  */filter: blur(8px);
  -webkit-filter: blur(8px)*/
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;"> 
<center>
<br>
<br>
<div class="w3-container">
  <bold> <h2 style="background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);font-size:50px; color: white;"> A P P L E</h2> </bold>
  <p style="color: white; font-size:18px;">Price of Apple in all the Districs are Shown Below:</p>
</center>
<center> <table class= "w3-table-all w3-card-4 w3-table-all w3-centered" style="max-width:500px;"> </center>

    <tr>
      <th>DISTRICT</th>
      <th>PRICE</th>
    </tr>

    <tr>
     <td>Bidar</td>
      <td>210</td>
    </tr>

    <tr>
      <td>Gulbarga</td>
      <td>220</td>
    </tr>

    <tr>
      <td>bijapur</td>
      <td>203</td>
    </tr>
    
     <tr>
      <td>Raichur</td>
      <td>214</td>
    </tr>

     <tr>
      <td>Bagalkote</td>
      <td>208</td>
    </tr>
<tr>
      <td>Belgaum</td>
      <td>195</td>
    </tr>
<tr>
      <td>Koppal</td>
      <td>195</td>
    </tr>
<tr>
      <td>Gadag</td>
      <td>213</td>
    </tr>
<tr>
      <td>Dharwad</td>
      <td>214</td>
    </tr>
<tr>
      <td>Karwar</td>
      <td>199</td>
    </tr>
<tr>
      <td>Haveri</td>
      <td>213</td>
    </tr>
<tr>
      <td>Davangere</td>
      <td>201</td>
    </tr>
<tr>
      <td>Bellary</td>
      <td>215</td>
    </tr>
<tr>
      <td>Shimoga</td>
      <td>195</td>
    </tr>
<tr>
      <td>Udupi</td>
      <td>202</td>
    </tr>
<tr>
      <td>Chikmanglur</td>
      <td>216</td>
    </tr>
<tr>
      <td>Mangalore</td>
      <td>204</td>
    </tr>
<tr>
      <td>Chitardurga</td>
      <td>220</td>
    </tr>
<tr>
      <td>Hassan</td>
      <td>211</td>
    </tr>
<tr>
      <td>Tumkur</td>
      <td>196</td>
    </tr>
<tr>
      <td>Madikeri</td>
      <td>218</td>
    </tr>
<tr>
      <td>Mysore</td>
      <td>192</td>
    </tr>
<tr>
      <td>Mandya</td>
      <td>211</td>
    </tr>
<tr>
      <td>Bangalore</td>
      <td>198</td>
    </tr>
<tr>
      <td>Kolar</td>
      <td>215</td>
    </tr>
<tr>
      <td>Chikballapur</td>
      <td>211</td>
    </tr>
<tr>
      <td>chamrajnagara</td>
      <td>195</td>
    </tr>
<tr>
      <td>Yadgir</td>
      <td>210</td>
    </tr>

  </table>
  
</div><br>
<center><div class="w3-button" style="font-size:24px;"><a href="upload" target="_blank" class="btn btn-primary">Upload Your Image</a> </div></center>
<br>
<br>
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        
        
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="static/logo.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            
            <ul class="social_footer_ul">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>
	  
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>