<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Contact Page </title>
	<!-- Bootstrap core CSS -->
	<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<!--<link href="css/all.css" rel="stylesheet">-->
		<link href="{{ url_for('static',filename='css/all.css')}}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<!--<link href="css/style.css" rel="stylesheet">-->
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
<style>

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;

</style>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index">
            <img src="static/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="index">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="upload">Upload</a>
                  </li>
                  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio">See Prices 
     
    </a>


<div class="dropdown-content">
                  <!--   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">-->
                        <a class="dropdown-item" href="apple">Apple</a>
                        <a class="dropdown-item" href="orange">Orange</a>
                        <a class="dropdown-item" href="papaya">Papaya</a>
                        <a class="dropdown-item" href="pineapple">Pineapple</a>
                        <a class="dropdown-item" href="jackfruit">Jackfruit</a>
                     </div>
                  </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="contact">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
   <!-- Content Row -->
<center>
      <div >
      
        <!-- Contact Details Column -->
<br>
<br><br>
<br>

<br>
<br>
       
          <h3>Contact Details</h3>
          <p>
            RNSIT
            <br>Uttarahalli, Bangalore 560040
            <br>
          </p>
          <p>
            <abbr title="Phone">P</abbr>: (080) 23390089
          </p>
          <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:name@example.com">name@example.com
            </a>
          </p>
          <p>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
        
      </div>
      <!-- /.row -->
<br>
<br>

<br>
<br>
<br>
<br>


    </center>
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        
        
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="static/logo.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            
            <ul class="social_footer_ul">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->

        </div>
    </footer>
	  
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

















